@import "colors.css";

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}

.notification {
  background: var(--bg0);
  border: 2px solid var(--purple);
  margin: 4px -2px 0 0;
}

.close-button {
  background: var(--red);
  color: var(--bg0);
  text-shadow: none;
  padding: 0;
  margin: 10px;
  border: none;
  min-width: 18px;
  min-height: 18px;
  font-size: 10px;
  border-radius: 5px;
}

.close-button:hover {
  background: var(--maroon);
  box-shadow: none;
  transition: all 0.15s ease-in-out;
}

.notification-action {
  border: 2px solid var(--purple);
}

.notification-default-action:hover,
.notification-action:hover {
  color: var(--blue);
  background: var(--bg0);
}

.inline-reply-entry {
  background: var(--bg-dark);
  color: var(--fg);
  caret-color: var(--fg);
  border: 1px solid var(--bg1);
}

.inline-reply-button {
  margin-top: 4px;
  margin-left: 4px;
  background: var(--bg-darker);
  border: 1px solid var(--bg1);
  color: var(--fg);
}

.inline-reply-button:disabled {
  background: transparent;
  color: var(--fg-disabled);
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: var(--bg1);
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: var(--green);
  text-shadow: none;
}

.time {
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: var(--fg);
  text-shadow: none;
}

.body {
  font-size: 14px;
  background: transparent;
  color: var(--fg);
  text-shadow: none;
}

.notification-action>button {
  color: var(--fg);
}

.notification-action>button:hover {
  background-color: var(--purple);
  color: var(--bg0);
}

.notification-group {
  background: transparent;
  margin: 0;
  padding: 0;
}

.notification-content {
  background: transparent;
  padding: 12px;
}
